// ACCESS HISTORY PAGE
.row
  .col-lg-12
    h1#page-title
      span ·
        span·
        |· Access history ·
        span·
        | ·

.row
  .col-lg-12
    form.form-inline
      .form-group
        label Start time
        select
          option ~select start time~
          option ganti pake date picker
        label End time
        select
          option ~select end time~
          option ganti pake date picker
        button.btn.btn-lemhannas Show access history

.row
  .col-lg-12
    table.table.table-hover.table-striped
      thead
        tr
          th #
          th Time
          th Local IP address
          th Local port
          th Remote IP address
          th Remote port
          th Protocol
          th Direction
      tbody
        tr
          td 1
          td 16/12/13 11:16:00
          td
            a(href="access-history-detail.html") 192.168.0.193
          td 50031
          td 61.94.225.166
          td 28140
          td TCP
          td In
        tr
          td 2
          td 16/12/13 11:17:00
          td
            a(href="access-history-detail.html") 61.94.225.166
          td 28140
          td 192.168.0.193
          td 50031
          td TCP
          td Out
        tr
          td 3
          td 16/12/13 12:16:00
          td
            a(href="access-history-detail.html") 61.94.225.166
          td 28140
          td 192.168.0.193
          td 50031
          td TCP
          td Out
        tr
          td 4
          td 16/12/13 12:20:00
          td
            a(href="access-history-detail.html") 192.168.0.193
          td 28140
          td 192.168.0.193
          td 28140
          td TCP
          td In
        tr
          td 5
          td 16/12/13 11:16:00
          td
            a(href="access-history-detail.html") 192.168.0.193
          td 50031
          td 61.94.225.166
          td 28140
          td TCP
          td In
        tr
          td 6
          td 16/12/13 11:17:00
          td
            a(href="access-history-detail.html") 61.94.225.166
          td 28140
          td 192.168.0.193
          td 50031
          td TCP
          td Out
        tr
          td 7
          td 16/12/13 12:16:00
          td
            a(href="access-history-detail.html") 61.94.225.166
          td 28140
          td 192.168.0.193
          td 50031
          td TCP
          td Out
        tr
          td 8
          td 16/12/13 12:20:00
          td
            a(href="access-history-detail.html") 192.168.0.193
          td 28140
          td 192.168.0.193
          td 28140
          td TCP
          td In
        tr
          td 9
          td 16/12/13 12:16:00
          td
            a(href="access-history-detail.html") 61.94.225.166
          td 28140
          td 192.168.0.193
          td 50031
          td TCP
          td Out
        tr
          td 10
          td 16/12/13 12:20:00
          td
            a(href="access-history-detail.html") 192.168.0.193
          td 28140
          td 192.168.0.193
          td 28140
          td TCP
          td In