// PORT AND SERVICES PAGE
.row
  .col-lg-12
    h1#page-title
      span ·
        span·
        |· Port &amp; Services ·
        span·
        | ·

.row
  .col-lg-6
    form.form-horizontal
      .form-group
        label.control-label.col-lg-3 IP address
        .col-lg-9
          input.form-control(type="text", placeholder="IP address", value="192.168.0.193", disabled="disabled")
      .form-group
        label.control-label.col-lg-3 Hostname
        .col-lg-9
          input.form-control(type="text", placeholder="Hostname", value="fulan-04-PC", disabled="disabled")
      .form-group
        label.control-label.col-lg-3 Description
        .col-lg-9
          textarea.form-control(rows="4", pladeholder="Description", disabled="disabled") Komputer multimedia di Ruang A, Labtek III

.row
  .col-lg-12
    form.form-inline
      .form-group
        button.btn.btn-lemhannas(data-toggle="modal", data-target="#add-modal") Add new
        button.btn.btn-lemhannas Enable All
        button.btn.btn-lemhannas Disable All
        button.btn.btn-lemhannas.btn-red(data-toggle="modal", data-target="#delete-all-modal") Delete All

.row
  .col-lg-12
    table.table.table-hover.table-striped#bandwith-rules-table
      thead
        tr
          th #
          th Opened port
          th Protocol
          th Service name
          th Status
          th Modify
      tbody
        tr
          td 1
          td 8080
          td TCP
          td Apache
          td Registered
          td
            a.btn.btn-lemhannas(href="#edit-modal", data-toggle="modal")
              span.rulycon-pencil
            a.btn.btn-red(href="#delete-modal", data-toggle="modal")
              span.rulycon-close
        tr
          td 2
          td 3306
          td UDP
          td MySQL
          td Unregistered
          td
            a.btn.btn-green(href="#add-modal", data-toggle="modal")
              span.rulycon-plus
        tr
          td 3
          td 22
          td TCP
          td SSH
          td Blocked
          td
            a.btn.btn-lemhannas(href="#edit-modal", data-toggle="modal")
              span.rulycon-pencil
            a.btn.btn-red(href="#delete-modal", data-toggle="modal")
              span.rulycon-close
        tr
          td 4
          td 21
          td TCP
          td FTP
          td Registered
          td
            a.btn.btn-lemhannas(href="#edit-modal", data-toggle="modal")
              span.rulycon-pencil
            a.btn.btn-red(href="#delete-modal", data-toggle="modal")
              span.rulycon-close
    hr

.row
  .col-lg-12
    h4 Vulnerability list

.row
  .col-lg-12
    table.table.table-hover.table-striped#vulnerability-list-table
      thead
        tr
          th #
          th Vulnerability
          th Description
          th Status
          th Modify
      tbody
        tr
          td 1
          td Vulnerability A
          td SQL no root password
          td Warning
          td
            a.btn.btn-lemhannas(href="#ignore-modal", data-toggle="modal")
              span.rulycon-eye-blocked
        tr
          td 2
          td Vulnerability B
          td Apache no root password
          td Warning
          td
            a.btn.btn-lemhannas(href="#ignore-modal", data-toggle="modal")
              span.rulycon-eye-blocked
        tr
          td 3
          td Vulnerability C
          td FTP anonymous login
          td Ignored
          td
            a.btn.btn-red(href="#remove-modal", data-toggle="modal")
              span.rulycon-close

// PUT ALL MODALS BELOW
.modal.fade#add-modal(tab-index="-1", role="dialog", aria-labelledby="add-modal-label", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
        h4.modal-title#add-modal-lable Add
      .modal-body
        form.form-horizontal(role="form")
          .form-group
            label.col-lg-3.control-label Opened port
            .col-lg-9
              input.form-control(type="text", placeholder="type opened port here...")
          .form-group
            label.col-lg-3.control-label Protocol
            .col-lg-9
              select.form-control
                option TCP
                option UDP
                option Both
          .form-group
            label.col-lg-3.control-label Service name
            .col-lg-9
              input.form-control(type="text", placeholder="type service name here...")
          .form-group
            label.col-lg-3.control-label Is blocked
            .col-lg-9
              .checkbox
                label
                  input(type="checkbox")
      .modal-footer
        button.btn.btn-lemhannas(type="button") Add
        button.btn.btn-lemhannas(type="button", data-dismiss="modal") Cancel

.modal.fade#edit-modal(tab-index="-1", role="dialog", aria-labelledby="edit-modal-label", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
        h4.modal-title#edit-modal-lable Edit
      .modal-body
        form.form-horizontal(role="form")
          .form-group
            label.col-lg-3.control-label Opened port
            .col-lg-9
              input.form-control(type="text", placeholder="type opened port here...", value="8080")
          .form-group
            label.col-lg-3.control-label Protocol
            .col-lg-9
              select.form-control
                option(selected="selected") TCP
                option UDP
                option Both
          .form-group
            label.col-lg-3.control-label Service name
            .col-lg-9
              input.form-control(type="text", placeholder="type service name here...", value="Apache")
          .form-group
            label.col-lg-3.control-label Is blocked
            .col-lg-9
              .checkbox
                label
                  input(type="checkbox")
      .modal-footer
        button.btn.btn-lemhannas(type="button") Edit
        button.btn.btn-lemhannas(type="button", data-dismiss="modal") Cancel

.modal.fade#delete-all-modal(tab-index="-1", role="dialog", aria-labelledby="delete-all-modal-label", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
        h4.modal-title#delete-modal-lable Delete all
      .modal-body
        p Are you sure you want to delete all items?
      .modal-footer
        button.btn.btn-lemhannas.btn-red(type="button") Yes, delete
        button.btn.btn-lemhannas(type="button", data-dismiss="modal") Cancel

.modal.fade#delete-modal(tab-index="-1", role="dialog", aria-labelledby="delete-modal-label", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
        h4.modal-title#delete-modal-lable Delete
      .modal-body
        p Are you sure you want to delete the selected item?
      .modal-footer
        button.btn.btn-lemhannas.btn-red(type="button") Yes, delete
        button.btn.btn-lemhannas(type="button", data-dismiss="modal") Cancel

.modal.fade#ignore-modal(tab-index="-1", role="dialog", aria-labelledby="ignore-modal-label", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
        h4.modal-title#ignore-modal-lable Ignore
      .modal-body
        p Are you sure you want to ignore the selected item?
      .modal-footer
        button.btn.btn-lemhannas.btn-red(type="button") Yes, ignore
        button.btn.btn-lemhannas(type="button", data-dismiss="modal") Cancel

.modal.fade#remove-modal(tab-index="-1", role="dialog", aria-labelledby="remove-modal-label", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-hidden="true") ×
        h4.modal-title#remove-modal-lable Remove
      .modal-body
        p Are you sure you want to remove the selected item?
      .modal-footer
        button.btn.btn-lemhannas.btn-red(type="button") Yes, remove
        button.btn.btn-lemhannas(type="button", data-dismiss="modal") Cancel