@font-face {
  font-family: 'segoe_condensedregular';
  src: url("fonts/segoecrg-webfont.eot");
  src: url("fonts/segoecrg-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/segoecrg-webfont.woff") format("woff"), url("fonts/segoecrg-webfont.ttf") format("truetype"), url("fonts/segoecrg-webfont.svg#segoe_condensedregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoe_condensedbold';
  src: url("fonts/segoecbd-webfont.eot");
  src: url("fonts/segoecbd-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/segoecbd-webfont.woff") format("woff"), url("fonts/segoecbd-webfont.ttf") format("truetype"), url("fonts/segoecbd-webfont.svg#segoe_condensedbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoe_condenseditalic';
  src: url("fonts/segoecit-webfont.eot");
  src: url("fonts/segoecit-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/segoecit-webfont.woff") format("woff"), url("fonts/segoecit-webfont.ttf") format("truetype"), url("fonts/segoecit-webfont.svg#segoe_condenseditalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'segoe_condensedbold_italic';
  src: url("fonts/segoecbi-webfont.eot");
  src: url("fonts/segoecbi-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/segoecbi-webfont.woff") format("woff"), url("fonts/segoecbi-webfont.ttf") format("truetype"), url("fonts/segoecbi-webfont.svg#segoe_condensedbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url("fonts/proximanova-regular-webfont.eot");
  src: url("fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-regular-webfont.woff") format("woff"), url("fonts/proximanova-regular-webfont.ttf") format("truetype"), url("fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novaregular_italic';
  src: url("fonts/proximanova-regularitalic-webfont.eot");
  src: url("fonts/proximanova-regularitalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-regularitalic-webfont.woff") format("woff"), url("fonts/proximanova-regularitalic-webfont.ttf") format("truetype"), url("fonts/proximanova-regularitalic-webfont.svg#proxima_novaregular_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url("fonts/proximanova-bold-webfont.eot");
  src: url("fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold-webfont.woff") format("woff"), url("fonts/proximanova-bold-webfont.ttf") format("truetype"), url("fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold_italic';
  src: url("fonts/proximanova-boldit-webfont.eot");
  src: url("fonts/proximanova-boldit-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-boldit-webfont.woff") format("woff"), url("fonts/proximanova-boldit-webfont.ttf") format("truetype"), url("fonts/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

.btn {
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  padding: 3px 24px;
  border-radius: 2px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px rgba(0, 0, 0, 0.25);
}
.btn.btn-lemhannas {
  background: #89419e;
  color: #ffffff;
}
.btn.btn-red {
  background: #b04444;
  color: #ffffff;
}
.btn.btn-green {
  background: #20a11d;
  color: #ffffff;
}
.btn:hover, .btn:hover > span[class*="rulycon"] {
  background: auto;
  color: #ffffff;
  opacity: .85;
}

.form-inline {
  margin-top: 12px;
  margin-bottom: 24px;
}
.form-inline .form-group {
  display: block;
}
.form-inline input, .form-inline select {
  margin-left: 12px;
  margin-right: 24px;
}

.form-horizontal .control-label {
  text-align: left;
}

input, textarea, select,
.form-control {
  border-radius: 2px;
  box-shadow: none;
  padding: 2px 4px 3px;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

label {
  font-weight: normal;
  text-transform: uppercase;
}
label select, label input {
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 2px;
}

textarea {
  resize: none;
}

.highcharts-container {
  display: block;
  width: 100% !important;
}

.modal .modal-content {
  border-radius: 2px;
  border: none;
}
.modal .modal-header {
  background: #89419e;
  border: 1px solid #7d3791;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 12px;
  border-radius: 2px 2px 0 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}
.modal .modal-header > h4 {
  font-family: "segoe_condensedbold", sans-serif;
  color: #efd5f6;
  font-size: 16px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.55);
}
.modal .modal-header > button {
  font-size: 18px;
  color: #efd5f6;
  opacity: 1;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.55);
}
.modal .modal-body {
  padding: 25px;
}

.modal-backdrop {
  background: rgba(255, 255, 255, 0.75);
}
.modal-backdrop.in {
  opacity: 1;
  filter: alpha(opacity=1);
}

.nav.nav-tabs {
  margin-top: 12px;
  border-bottom: 1px solid #89419e;
}
.nav.nav-tabs li > a, .nav.nav-tabs .active > a:hover {
  border: 1px solid #89419e;
  border-bottom: 1px solid transparent;
  border-radius: 2px 2px 0 0;
  color: #89419e;
}

.tab-content .tab-pane {
  background: #ffffff;
  border: 1px solid #89419e;
  border-top: 1px solid transparent;
  border-radius: 0;
}

.table {
  margin-bottom: 0;
}
.table th {
  text-transform: uppercase;
  color: #efd5f6;
  background: #89419e;
  font-size: 12px;
  min-width: 48px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #612e70 !important;
}
.table a {
  color: #89419e;
  border-bottom: 1px dashed #89419e;
}
.table a:hover {
  color: #612e70;
  border-bottom: 1px dashed #612e70;
  text-decoration: none;
}
.table .danger {
  color: #b04444;
}
.table .danger td {
  background: rgba(176, 68, 68, 0.15) !important;
}
.table .warning {
  color: #918c11;
}
.table .warning td {
  background: rgba(145, 140, 17, 0.15) !important;
}

* {
  -moz-transition: all 0.15s ease-out;
  -ms-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.55);
  -webkit-border-radius: 0;
  border-radius: 0;
  background: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background: #89419e;
  border: 1px solid #7d3791;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(137, 65, 158, 0.85);
}

html, body, #main-container, #sidebar {
  height: 100%;
}

body {
  background: url("../img/body-background.jpg") repeat;
  font-family: "segoe_condensedregular", sans-serif;
  font-size: 14px;
}

::selection {
  background: #efd5f6;
  color: #89419e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.85);
}

::-moz-selection {
  background: #efd5f6;
  color: #89419e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.85);
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 white;
}

#sign-in-logo {
  margin-top: 32px;
  margin-bottom: 24px;
}

#sign-in-container {
  padding: 48px 24px;
  background: url("../img/sidebar-pattern-background.png") 0 0 repeat, -moz-linear-gradient(-30deg, rgba(255, 255, 255, 0.035) 0%, rgba(255, 255, 255, 0.035) 50%, transparent 50%, transparent 100%) 0 0 no-repeat, -moz-linear-gradient(top, #89419e, #612e70) 0 0 no-repeat;
  background: url("../img/sidebar-pattern-background.png") 0 0 repeat, -ms-linear-gradient(-30deg, rgba(255, 255, 255, 0.035) 0%, rgba(255, 255, 255, 0.035) 50%, transparent 50%, transparent 100%) 0 0 no-repeat, -ms-linear-gradient(top, #89419e, #612e70) 0 0 no-repeat;
  background: url("../img/sidebar-pattern-background.png") 0 0 repeat, -o-linear-gradient(-30deg, rgba(255, 255, 255, 0.035) 0%, rgba(255, 255, 255, 0.035) 50%, transparent 50%, transparent 100%) 0 0 no-repeat, -o-linear-gradient(top, #89419e, #612e70) 0 0 no-repeat;
  background: url("../img/sidebar-pattern-background.png") 0 0 repeat, -webkit-linear-gradient(-30deg, rgba(255, 255, 255, 0.035) 0%, rgba(255, 255, 255, 0.035) 50%, transparent 50%, transparent 100%) 0 0 no-repeat, -webkit-linear-gradient(top, #89419e, #612e70) 0 0 no-repeat;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.55), 0 1px 0 white;
}
#sign-in-container #sign-in-form label {
  color: #efd5f6;
  text-transform: uppercase;
  font-weight: normal;
}
#sign-in-container #sign-in-form button {
  padding: 6px 24px;
  display: block;
  width: 100%;
  margin-top: 24px;
}

#copyright {
  margin-top: 24px;
  font-family: "segoe_condensedregular", sans-serif;
  color: #efd5f6;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
}

.accent {
  display: block;
  width: 100%;
  height: 7px;
  background-image: url("../img/accent-background.png");
  background-repeat: no-repeat;
  background-position: center;
}
.accent.stick-to-bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: block;
}

#main-container {
  display: block;
  width: 100%;
}
#main-container #sidebar {
  position: relative;
  display: inline-block;
  width: 24.69%;
  vertical-align: top;
  background: url("../img/sidebar-pattern-background.png") 0 0 repeat, -moz-linear-gradient(-20deg, rgba(255, 255, 255, 0.035) 0%, rgba(255, 255, 255, 0.035) 45%, transparent 45%, transparent 100%) 0 0 no-repeat, -moz-linear-gradient(top, #89419e, #612e70) 0 0 no-repeat;
  background: url("../img/sidebar-pattern-background.png") 0 0 repeat, -ms-linear-gradient(-20deg, rgba(255, 255, 255, 0.035) 0%, rgba(255, 255, 255, 0.035) 45%, transparent 45%, transparent 100%) 0 0 no-repeat, -ms-linear-gradient(top, #89419e, #612e70) 0 0 no-repeat;
  background: url("../img/sidebar-pattern-background.png") 0 0 repeat, -o-linear-gradient(-20deg, rgba(255, 255, 255, 0.035) 0%, rgba(255, 255, 255, 0.035) 45%, transparent 45%, transparent 100%) 0 0 no-repeat, -o-linear-gradient(top, #89419e, #612e70) 0 0 no-repeat;
  background: url("../img/sidebar-pattern-background.png") 0 0 repeat, -webkit-linear-gradient(-20deg, rgba(255, 255, 255, 0.035) 0%, rgba(255, 255, 255, 0.035) 45%, transparent 45%, transparent 100%) 0 0 no-repeat, -webkit-linear-gradient(top, #89419e, #612e70) 0 0 no-repeat;
  /* @include linearGradient($light-purple, $dark-purple); */
  color: #efd5f6;
  padding: 24px;
}
#main-container #sidebar .logo {
  display: block;
  margin: 12px auto 24px;
}
#main-container #sidebar #user-menu {
  margin-bottom: 48px;
}
#main-container #sidebar #user-menu a {
  color: #efd5f6;
  text-transform: uppercase;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.15);
  padding: 9px 16px 7px;
  border-radius: 2px;
}
#main-container #sidebar #user-menu a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.05);
  color: #ffffff;
}
#main-container #sidebar #user-menu a:first-child {
  margin-right: 12px;
}
#main-container #sidebar #user-menu a > span[class*=rulycon] {
  font-size: 14px;
  margin-right: 4px;
}
#main-container #sidebar #dashboard-menu {
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.25), 0 1px 0 rgba(255, 255, 255, 0.15);
  padding: 12px 18px;
  border-radius: 2px;
  max-height: 355px;
  overflow: auto;
}
#main-container #sidebar #dashboard-menu > h6 {
  font-family: "segoe_condensedregular", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  margin: 4px 0 16px;
}
#main-container #sidebar #dashboard-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#main-container #sidebar #dashboard-menu > ul > li {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
#main-container #sidebar #dashboard-menu > ul li > a {
  position: relative;
  display: block;
  width: 100%;
  color: #efd5f6;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  background: #89419e;
  border: 1px solid #7d3791;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 5px 24px 4px 57px;
}
#main-container #sidebar #dashboard-menu > ul li > a:hover {
  text-decoration: none;
  background: #7d3791;
  color: #ffffff;
}
#main-container #sidebar #dashboard-menu > ul li > a > span[class*="rulycon"] {
  position: absolute;
  top: 0;
  left: 10px;
  padding-right: 10px;
  border-right: 1px solid #7d3791;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.075);
  line-height: 30px;
}
#main-container #content {
  display: inline-block;
  width: 75%;
  vertical-align: top;
  color: #612e70;
  padding: 24px;
  height: 100%;
  overflow: auto;
}
#main-container #content #page-title {
  font-family: "proxima_nova_rgregular", sans-serif;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 12px;
  background: url("../img/page-title-background.png") repeat;
  padding: 4px 0;
}
#main-container #content #page-title > span {
  background: url("../img/body-background.jpg") repeat;
  padding: 4px 24px;
  color: #612e70;
}
#main-container #content #page-title > span > span {
  color: #c57adb;
}

#welcome-message {
  margin-top: 180px;
  text-align: center;
}
#welcome-message h2 > span[class*="rulycon"] {
  font-size: 64px;
  color: #e5e5e2;
  text-shadow: 0 1px 0 white, 0 -1px 0 rgba(0, 0, 0, 0.15);
}
#welcome-message h4 {
  font-family: "segoe_condensedregular", sans-serif;
  font-size: 16px;
  line-height: 120%;
  color: #c2c0b8;
  text-shadow: 0 1px 0 white, 0 -1px 0 rgba(0, 0, 0, 0.15);
}

#chart-container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 32px;
}

#bandwith-rules-table tr td:last-child > a, #mac-address-log-table tr td:last-child > a, #vulnerability-list-table tr td:last-child > a {
  padding: 2px 6px;
  border-bottom: none;
}
#bandwith-rules-table tr td:last-child > a:first-child, #mac-address-log-table tr td:last-child > a:first-child, #vulnerability-list-table tr td:last-child > a:first-child {
  margin-right: 6px;
}
#bandwith-rules-table tr td:last-child > a > span[class*="rulycon"], #mac-address-log-table tr td:last-child > a > span[class*="rulycon"], #vulnerability-list-table tr td:last-child > a > span[class*="rulycon"] {
  font-size: 10px;
}

@media (max-width: 1080px) {
  #main-container #sidebar .logo {
    margin: 12px auto 24px;
  }
  #main-container #sidebar #user-menu {
    margin-bottom: 12px;
  }
  #main-container #sidebar #user-menu a {
    display: block;
    width: 100%;
  }
  #main-container #sidebar #user-menu a:first-child {
    margin-bottom: 4px;
  }
}
@media (max-width: 980px) {
  #main-container #sidebar {
    width: 30%;
  }
  #main-container #content {
    width: 69.5%;
  }
}
@media (max-width: 768px) {
  #main-container .accent {
    display: none;
  }
  #main-container #sidebar, #main-container #content {
    display: block;
    width: 100%;
    padding: 12px;
  }
  #main-container #sidebar {
    position: relative;
    height: auto;
  }
  #main-container #sidebar .logo {
    margin: 0 auto 12px;
    height: 80px;
  }
  #main-container #sidebar #user-menu a {
    display: inline-block;
    width: 50%;
  }
  #main-container #sidebar #user-menu a:first-child {
    margin-right: 0;
  }
  #main-container #content {
    overflow: visible;
  }
}
/*==============================*/
/* JQUERY-UI COMMON CLASSES */
/*==============================*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #89419e;
  border: 1px solid transparent;
  border-radius: 0;
}

.ui-widget-header {
  background: #89419e;
  border: 1px solid #89419e;
  border-bottom: 1px solid #612e70;
  border-radius: 0;
  padding: 12px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.ui-icon {
  display: inline-block;
  vertical-align: middle;
}

/* CALENDAR */
.ui-datepicker {
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
}

.ui-datepicker .ui-datepicker-header {
  background: #89419e;
  border: 1px solid #89419e;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.ui-datepicker .ui-datepicker-title {
  color: #ffffff;
  font-weight: normal;
}

.ui-datepicker .ui-datepicker-calendar {
  background: #ffffff;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
  background: transparent;
  color: #89419e;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-highlight {
  font-weight: bold;
  text-shadow: none;
  background: rgba(137, 65, 158, 0.85);
  color: #ffffff;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.ui-datepicker .ui-datepicker-calendar th {
  text-transform: uppercase;
}

.ui-datepicker .ui-datepicker-calendar td {
  border: 1px solid #f0f0f0;
  border-right: none;
}

.ui-datepicker .ui-datepicker-calendar td a {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.65);
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
  top: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
  top: 2px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.ui-datepicker-title .ui-datepicker-month, .ui-datepicker-title .ui-datepicker-year {
  padding: 0;
  border-radius: 2px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  height: 100%;
}

.ui-datepicker-title .ui-datepicker-month {
  margin-right: 2px !important;
}

/* DATA TABLE ONLY */
.dataTables_length, .dataTables_filter {
  display: inline-block;
}

.dataTables_filter {
  float: right;
}

.dataTables_processing {
  position: fixed;
  top: 24px;
  right: 24px;
  background: rgba(137, 65, 158, 0.25);
  padding: 6px 24px;
  border-radius: 4px;
}

.dataTables_info {
  text-align: center;
  font-weight: normal;
  margin-bottom: 6px;
}

.dataTables_paginate {
  text-align: center;
}
.dataTables_paginate .first, .dataTables_paginate .previous, .dataTables_paginate .next, .dataTables_paginate .last, .dataTables_paginate span > a.ui-state-default {
  color: #efd5f6;
  padding: 2px 6px;
  background: rgba(255, 255, 255, 0.25);
  margin: 0 2px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: normal;
  text-transform: uppercase;
}
