@mixin linearGradient($color1, $color2) {
  background: -moz-linear-gradient(top, $color1, $color2);
  background: -ms-linear-gradient(top, $color1, $color2);
  background: -o-linear-gradient(top, $color1, $color2);
  background: -webkit-linear-gradient(top, $color1, $color2);
}