$light-purple: #89419e;
$dark-purple: #612e70;
$light-purple-text: #efd5f6;

$light-purple-accent-1: #7d3791;
$light-purple-accent-2: #c57adb;

$light-greyish-yellow: #e5e5e2;
$light-brown: #c2c0b8;

$alert-red: #b04444;
$alert-yellow: #918c11;
$alert-green: #20a11d;

$segoe-condensed: "segoe_condensedregular", sans-serif;
$proxima-nova: "proxima_nova_rgregular", sans-serif;